@use "../base/colors" as *;

.carousel-container {
    transition: 0.5s all linear;
    cursor: pointer;
    .slick-prev {
        left: 2px !important;
        opacity: 0;
        z-index: 10000;
        transition: 0.5s all linear;
        &::before {
            display: none !important;
        }
    }
    .slick-next {
        right: 2px !important;
        opacity: 0;
        z-index: 10000;
        transition: 0.5s all linear;
        &::before {
            display: none !important;
        }
    }
    &:hover .slick-next {
        right: 32px !important;
        opacity: 1;
        transition: 0.5s all linear;
    }
    &:hover .slick-prev {
        left: 32px !important;
        opacity: 1;
        transition: 0.5s all linear;
    }
    .carousel-overlay {
        transition: 0.1s all linear;
    }
    &:hover .carousel-overlay {
        position: fixed !important;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.02);
        transition: 0.1s all linear;
    }
    .slick-dots {
        bottom: 20px !important;
        li {
            button:before {
                font-size: 13px !important;
            }
        }
        .slick-active {
            button:before {
                opacity: 2 !important;
            }
        }
    }
    .carousel-img {
        transition: all 0.3s linear;
    }

    &:hover .slick-current .carousel-img {
        transform: scale(1.05);
    }
}

// SLIDER

.productList-container {
    transition: 0.5s all linear;
    .swiper-button-prev {
        opacity: 0 !important;
        left: 12px !important;
        transition: 0.5s all linear;
        z-index: 10000;
        transform: translateY(-50%);
        top: 50% !important;
        &::after {
            opacity: 1;
        }
    }
    .swiper-button-next {
        opacity: 0 !important;
        right: 12px !important;
        transition: 0.5s all linear;
        transform: translateY(-50%);
        top: 50% !important;
        &::after {
            opacity: 1;
        }
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 30px !important;
        color: $white;
    }
    &:hover .swiper-button-next {
        right: 24px !important;
        opacity: 1 !important;
    }
    &:hover .swiper-button-prev {
        left: 24px !important;
        opacity: 1 !important;
    }
}
