@use "../base/colors" as *;

.slick-prev {
    left: 2px !important;
    opacity: 0;
    z-index: 10000;
    transition: 0.5s all linear;
    &::before {
        display: none !important;
    }
}
.slick-next {
    right: 2px !important;
    opacity: 0;
    z-index: 10000;
    transition: 0.5s all linear;
    &::before {
        display: none !important;
    }
}
.carousel-container {
    transition: 0.5s all linear;
    cursor: pointer;
    &:hover .slick-next {
        right: 32px !important;
        opacity: 1;
        transition: 0.5s all linear;
    }
    &:hover .slick-prev {
        left: 32px !important;
        opacity: 1;
        transition: 0.5s all linear;
    }
    .carousel-overlay {
        transition: 0.1s all linear;
    }
    &:hover .carousel-overlay {
        position: fixed !important;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.01);
        transition: 0.1s all linear;
    }
    .slick-dots {
        bottom: 20px !important;
        li {
            button:before {
                font-size: 13px !important;
            }
        }
        .slick-active {
            button:before {
                opacity: 2 !important;
            }
        }
    }
    .carousel-img {
        transition: all 0.3s linear;
    }

    &:hover .carousel-img {
        transform: scale(1.1);
    }
}
