h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}
.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
    margin-bottom: 0;
}
.css-1dc80h3-MuiTableCell-root:not(:nth-child(2)),
.css-47m1dp-MuiTableCell-root {
    text-align: center !important;
}
.css-1e9a4b0-MuiTableCell-root:not(:nth-child(2)) {
    text-align: center !important;
}
.admin-export-wrapper {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    .admin-export {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 6px 10px;
        border-radius: 6px;
        margin-top: 20px;
        color: #fff;
        background-color: #0000ff;
        border: none;
        font-weight: 600;
        span:last-child {
            width: 20px;
        }
    }
}
