h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}
.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
    margin-bottom: 0;
}
.css-1dc80h3-MuiTableCell-root:not(:nth-child(2)),
.css-47m1dp-MuiTableCell-root {
    text-align: center !important;
}
.css-1e9a4b0-MuiTableCell-root:not(:nth-child(2)) {
    text-align: center !important;
}
