.homepage-wrapper {
    padding: 0 10px;
}

@media (min-width: 768px) {
    .homepage-wrapper {
        padding: 0 48px;
    }
}
@media (min-width: 992px) {
    .homepage-wrapper {
        padding: 0 48px;
    }
}
