/// Primary Colors
$primary: #f3f3f3;
$primary-light: #78e723;
$primary-text: #1b1b1b;
$white: #fff;
$black: #000;

/// Secondary Colors
$secondary: #001a2d;
$secondary-light: #f7f7f7;
$secondary-dark: #4d5f6d;

// cart
$quantity: #fa4eea;
$discount: #bc0000;
