@use "../../base/colors" as *;
.checkout-container {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column-reverse;
    color: $black;
    input,
    select {
        border: 1px solid rgb(217, 217, 217) !important;
        border-radius: 6px;
    }
    .checkout-input {
        width: 100%;
        padding: 12px;
        margin-bottom: 16px;
    }
    .checkout-left {
        padding: 30px;
        .checkout-heading {
            margin-bottom: 40px;
            .checkout-heading--notification {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                gap: 6px;
                input {
                    width: 18px;
                    height: 18px;
                }
            }
        }
        .checkout-title {
            font-weight: 700;
            font-size: 21px;
            margin-bottom: 14px;
        }
        .checkout-subTitle {
            font-size: 14px;
            color: #0000008f;
            max-width: 600px;
            margin-bottom: 20px;
        }
        .checkout-groupInput {
            select {
                width: 100%;
                padding: 12px;
                margin-bottom: 16px;
            }
            .checkout-inputRow {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
        .checkout-shipping {
            margin-bottom: 40px;
            h4 {
                font-size: 18px;
                font-weight: 700;
            }
            p {
                border: 1px solid #000;
                padding: 14px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #f3f6fd;
                border-radius: 6px;
                span:last-child {
                    font-weight: bold;
                }
            }
        }
        .checkout-button {
            padding: 14px;
            width: 100%;
            background-color: $text-heading;
            color: $white;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .checkout-right {
        padding: 30px;
        flex: 1;
        background-color: $bg-checkout;
        display: flex;
        gap: 20px;
        flex-direction: column;
        .checkout-product {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .checkout-total {
                font-size: 14px;
                color: #110a0a;
                text-wrap: nowrap;
            }
            h4 {
                font-size: 14px;
                width: 90%;
            }
            h5 {
                font-size: 12px;
                color: #110a0a8f;
            }
            .checkout-wrapperImg {
                position: relative;
                img {
                    width: 84px;
                    height: 84px;
                }
                p {
                    line-height: 2;
                    position: absolute;
                    top: -10px;
                    right: -7px;
                    font-size: 12px;
                    color: #ffffff;
                    z-index: 1;
                    font-weight: bold;
                    min-width: 16px;
                    padding: 0px 10px;
                    background-color: rgba(64, 46, 46, 0.56);
                    border-radius: 50%;
                    margin-bottom: 0;
                    font-weight: 700;
                }
            }
        }
        .checkout-discount {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            input {
                width: 100%;
            }
            .checkout-discount--apply {
                white-space: nowrap;
                padding: 6px 12px;
                border: none;
                background-color: $primary-text;
                border-radius: 4px;
                color: $white;
                font-size: 14px;
                font-weight: 600;
            }
        }
        .checkout-information {
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 14px;
                span {
                    font-size: 14px;
                }
            }
            .checkout-totalCost {
                span {
                    color: #110a0a;
                    font-size: 19px;
                    font-weight: 700;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .checkout-container {
        padding: 0 100px;
        flex-direction: row;
        .checkout-left {
            padding: 38px 60px;
        }
    }
    .checkout-right {
        padding: 38px;
        padding-left: 60px;
        padding-right: 200px;
    }
}

// Order success container
.order-success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;

    h3 {
        font-size: 24px;
        color: $primary-text;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 18px;
        color: $text-heading;
        text-align: justify;
        margin-bottom: 10px;
    }

    .order-details {
        margin-top: 20px;
        width: 100%;
        background-color: $white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 80%;

        h4 {
            font-size: 20px;
            color: $primary-text;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .order-products {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .order-product {
                display: flex;
                gap: 15px;
                // background-color: $primary-light;
                padding: 10px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                .product-image {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                .product-info {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .product-name {
                        font-size: 16px;
                        color: $primary-text;
                    }

                    .product-price {
                        font-size: 14px;
                        color: $secondary;
                    }

                    .product-quantity {
                        font-size: 14px;
                        color: $quantity;
                    }
                }
            }
        }

        .order-total {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: bold;
            color: $primary-text;

            span {
                font-size: 18px;
            }
        }
    }

    .order-success-link {
        font-size: 16px;
        color: $primary-light;
        text-decoration: none;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
