// Layout.module.scss

.layout {
    display: flex;
    background-color: white;
}

.sidebar-container {
    width: 18rem;
}

.content-container {
    flex: 1;
    padding: 1rem 1.25rem;
    overflow: hidden;

    @media (min-width: 768px) {
        padding: 1.5rem 3rem;
    }
}
