@use "../../../src/styles/base/colors" as *;

.error-container {
    text-align: center;
    padding: 140px;
    border-radius: 10px;
    margin: auto;
    color: $primary-text;
    h1 {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    button {
        background-color: #000;
        font-size: 12px;
        padding: 10px 16px;
        font-weight: 600;
        border: none;
        text-align: center;
        color: $white;
        letter-spacing: 1px;
        transition: 0.5s all;
        &:hover {
            color: $primary-light;
        }
        text-transform: uppercase;
    }
}
