@use "./colors" as *;
.text-container {
    display: flex;
    align-items: center;
    height: fit-content;
    .heading {
        color: $text-heading;
        font-size: 23px;
        font-weight: bold;
        line-height: 32px;
    }
    .text-showAll {
        color: black;
        background-color: white;
        border: none;
        font-size: 14px;
        margin: 0 0 -3px 0;
        padding: 0 0 0 10px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            color: $primary-light;
        }
    }
}
// BUTTON
.button-universal {
    padding: 8px 44px;
    color: $white;
    background-color: $text-heading;
    display: block;
    width: fit-content;
    transition: 0.3s all;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        color: $primary-light;
    }
}
